<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#/!">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!setting">Setting</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!arogya-mitra">Arogya Mitra</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!birth">Birth</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!health">Health</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!events">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!arogya-bank">Arogya Bank</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!monthly-reports">Monthly Reports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Logout</a>
  </li>
</ul>
