<div class="row" ng-controller="BalakjanmCtrl">
    <div class="col">
        <div class="pull-left">
            <h4 class="m-b-15">बालक जन्म नोंद</h4>
        </div>
        <div class="pull-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#!/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#!surveyor_details">Surveyor Details</a></li>
                    <li class="breadcrumb-item active" aria-current="page">बालक जन्म नोंद</li>
                </ol>
            </nav>
        </div>
        <div class="clearfix"></div>
        <p class="m-b-0"><strong>Name : </strong>Prasad Gote</p>
        <p class="m-b-0"><strong>Mobile : </strong>9860402800</p>
        <p class="m-b-0"><strong>Email ID : </strong>prasad.gote14321@gmail.com</p>
        <hr>
        <h4 class="m-b-15">Question and answers</h4>
        <div class="table-responsive table-bordered">
            <table class="table table-striped m-b-0">
                <thead>
                <th>Sr.No.</th>
                <th>गरोदर मातेचे नाव</th>
                <th>बाळंतपणाची तारीख</th>
                <th>ठिकाण</th>
                <th>मातेचे वय</th>
                <th>Action</th>
                </thead>
                <tbody>
                    <tr ng-repeat="x in birth">
                        <td>{{x.srno}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.birthdate}}</td>
                        <td>{{x.location}}</td>
                        <td>{{x.age}}</td>
                        <td><a href="javascript:void(0)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalbalak">View Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
